In [1]:
import pandas as pd

df = pd.read_csv("../data/cancer_prepared.csv")

In [2]:
df.head()

,Age_bin_1,Age_bin_2,Age_bin_3,Genetic_Risk_bin_1,Genetic_Risk_bin_2,Genetic_Risk_bin_3,Air_Pollution_bin_1,Air_Pollution_bin_2,Air_Pollution_bin_3,Alcohol_Use_bin_1,...,Cancer_Type=Leukemia,Cancer_Type=Liver,Cancer_Type=Lung,Cancer_Type=Prostate,Cancer_Type=Skin,Cancer_Stage=Stage 0,Cancer_Stage=Stage I,Cancer_Stage=Stage II,Cancer_Stage=Stage III,Cancer_Stage=Stage IV
0,False,False,True,False,True,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
1,True,False,False,True,False,False,False,True,False,False,...,True,False,False,False,False,True,False,False,False,False
2,False,False,True,False,False,True,False,False,True,True,...,False,False,False,False,False,False,False,True,False,False
3,True,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,True,False,False,False,True,False,True,False,False,True,...,False,False,False,False,True,False,False,False,True,False

In [3]:
from fca.api_models import Context
from src.utils import create_context_from_dataframe, support, show_rules, show_concepts

In [4]:
num_of_rows = 2000
df_small = df.head(num_of_rows)

In [5]:
objects, attributes, relation = create_context_from_dataframe(df)
context = Context(objects, attributes, relation)

objects, attributes, relation = create_context_from_dataframe(df_small)
context_small = Context(objects, attributes, relation)

In [6]:
concepts = context_small.get_concepts()

In [7]:
len(concepts)

441269

In [8]:
show_concepts(concepts, 0.15, 2, num_of_rows)

1: ['Genetic_Risk_bin_1', 'Target_Severity_Score_bin_1'] - 0.185
2: ['Genetic_Risk_bin_3', 'Target_Severity_Score_bin_3'] - 0.1825
3: ['Air_Pollution_bin_1', 'Target_Severity_Score_bin_1'] - 0.1845
4: ['Air_Pollution_bin_3', 'Target_Severity_Score_bin_3'] - 0.154
5: ['Alcohol_Use_bin_1', 'Target_Severity_Score_bin_1'] - 0.1675
6: ['Alcohol_Use_bin_3', 'Target_Severity_Score_bin_3'] - 0.1575
7: ['Smoking_bin_1', 'Target_Severity_Score_bin_1'] - 0.188
8: ['Smoking_bin_3', 'Target_Severity_Score_bin_3'] - 0.18
9: ['Obesity_Level_bin_1', 'Target_Severity_Score_bin_1'] - 0.1635

In [9]:
rules = list(context.get_association_rules(min_support=0.15, min_confidence=0.5))

In [10]:
show_rules(rules)

1: Target_Severity_Score_bin_1 -> Air_Pollution_bin_1
Support: 0.1689 - Confidence : 0.5025 - Lift: 1.4662
2: Genetic_Risk_bin_1 -> Target_Severity_Score_bin_1
Support: 0.1846 - Confidence : 0.5524 - Lift: 1.6431
3: Genetic_Risk_bin_3 -> Target_Severity_Score_bin_3
Support: 0.1783 - Confidence : 0.5486 - Lift: 1.6537
4: Smoking_bin_1 -> Target_Severity_Score_bin_1
Support: 0.1859 - Confidence : 0.5525 - Lift: 1.6436
5: Smoking_bin_3 -> Target_Severity_Score_bin_3
Support: 0.1840 - Confidence : 0.5530 - Lift: 1.6672

ESS Dataset

In [11]:
df = pd.read_csv("../data/essround1.csv")

In [12]:
df.head()

,aesfdrk_1_2,aesfdrk_2_2,clsprty_1_3,clsprty_2_3,clsprty_3_3,freehms_1_3,freehms_2_3,freehms_3_3,gincdif_1_3,gincdif_2_3,...,trstplc_3_3,trstplt_1_3,trstplt_2_3,trstplt_3_3,trstprl_1_3,trstprl_2_3,trstprl_3_3,trstun_1_3,trstun_2_3,trstun_3_3
0,False,False,True,False,False,False,False,False,False,False,...,True,False,False,True,False,False,True,False,False,False
1,True,False,True,False,False,False,True,False,False,False,...,True,False,True,False,False,False,True,False,True,False
2,True,False,True,False,False,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,True
3,False,True,True,False,False,True,False,False,True,False,...,True,False,False,True,False,False,True,False,False,True
4,False,True,True,False,False,True,False,False,True,False,...,True,False,False,True,False,False,True,False,True,False

In [13]:
num_of_rows = 20
df_small = df.head(num_of_rows)

In [14]:
objects, attributes, relation = create_context_from_dataframe(df)
context = Context(objects, attributes, relation)

objects, attributes, relation = create_context_from_dataframe(df_small)
context_small = Context(objects, attributes, relation)

In [15]:
rules = list(context.get_association_rules(min_support=0.7, min_confidence=0.9))

In [16]:
show_rules(rules)

1: aesfdrk_2_2 -> clsprty_1_3
Support: 0.7651 - Confidence : 0.9791 - Lift: 1.0034
2: freehms_1_3 -> clsprty_1_3
Support: 0.7667 - Confidence : 0.9792 - Lift: 1.0035
3: happy_3_3 -> clsprty_1_3
Support: 0.8236 - Confidence : 0.9793 - Lift: 1.0036
4: health_1_3 -> clsprty_1_3
Support: 0.7662 - Confidence : 0.9798 - Lift: 1.0041
5: impcntr_1_3 -> clsprty_1_3
Support: 0.8283 - Confidence : 0.9782 - Lift: 1.0025
6: impenv_1_3 -> clsprty_1_3
Support: 0.7056 - Confidence : 0.9788 - Lift: 1.0031
7: ipeqopt_1_3 -> clsprty_1_3
Support: 0.7346 - Confidence : 0.9776 - Lift: 1.0018
8: iplylfr_1_3 -> clsprty_1_3
Support: 0.8420 - Confidence : 0.9798 - Lift: 1.0041
9: stflife_3_3 -> clsprty_1_3
Support: 0.7620 - Confidence : 0.9797 - Lift: 1.0040
10: stflife_3_3 -> happy_3_3
Support: 0.7378 - Confidence : 0.9485 - Lift: 1.1279
11: impcntr_1_3, happy_3_3 -> clsprty_1_3
Support: 0.7077 - Confidence : 0.9796 - Lift: 1.0039
12: iplylfr_1_3, happy_3_3 -> clsprty_1_3
Support: 0.7183 - Confidence : 0.9834 - Lift: 1.0078
13: stflife_3_3 -> clsprty_1_3, happy_3_3
Support: 0.7235 - Confidence : 0.9303 - Lift: 1.1295
14: iplylfr_1_3, impcntr_1_3 -> clsprty_1_3
Support: 0.7230 - Confidence : 0.9821 - Lift: 1.0065

In [17]:
concepts = context_small.get_concepts()

In [18]:
show_concepts(concepts, 0.7, 2, num_of_rows)

1: ['clsprty_1_3', 'happy_3_3', 'impcntr_1_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.9
2: ['clsprty_1_3', 'happy_3_3', 'health_1_3', 'impcntr_1_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.8
3: ['clsprty_1_3', 'happy_3_3', 'health_1_3', 'imdfetn_2_3', 'impcntr_1_3', 'impfree_1_3', 'ipadvnt_2_3', 'iprspot_2_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.7
4: ['clsprty_1_3', 'happy_3_3', 'health_1_3', 'impcntr_1_3', 'impenv_1_3', 'iplylfr_1_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.7
5: ['clsprty_1_3', 'happy_3_3', 'health_1_3', 'impcntr_1_3', 'ipeqopt_1_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.7
6: ['clsprty_1_3', 'happy_3_3', 'imdfetn_2_3', 'impcntr_1_3', 'impfree_1_3', 'iprspot_2_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.8
7: ['clsprty_1_3', 'happy_3_3', 'imdfetn_2_3', 'impcntr_1_3', 'impfree_1_3', 'iphlppl_1_3', 'iprspot_2_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.7
8: ['clsprty_1_3', 'happy_3_3', 'imdfetn_2_3', 'impcntr_1_3', 'impfree_1_3', 'iprspot_2_3', 'ipsuces_1_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.7
9: ['clsprty_1_3', 'happy_3_3', 'imdfetn_2_3', 'impcntr_1_3', 'impfree_1_3', 'iprspot_2_3', 'stfedu_3_3', 'stfhlth_3_3', 'stflife_3_3'] - 0.7
10: ['clsprty_1_3', 'happy_3_3', 'impcntr_1_3', 'impdiff_2_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.7
11: ['clsprty_1_3', 'happy_3_3', 'impcntr_1_3', 'imwbcnt_2_3', 'stfedu_3_3', 'stfhlth_3_3'] - 0.7
12: ['clsprty_1_3', 'trstprl_3_3'] - 0.7